/*Universal margin and Padding for entire page window*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background color for Body of Page*/
body {
    background-color: #d9dcd6;
}

/*Padding and Font for Header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Structure for Header and Links, Lists them to the right of one another*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*the 'SEO' in 'Horiseon' is a different color*/
header h1 .seo {
    color: #d9dcd6;
}

/*Padding and Font for Links, Places them next to each other without Numbers or Bulletins*/
header nav, header nav ul li  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin-left: 25px;
}

/* Color for Link text */
a {
    color: #ffffff;
    text-decoration: none;
}

/*Font size for paragraph text*/
p {
    font-size: 16px;
}

/*Footer Font Padding, Font Style, Centered Text*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Resizes 'Made with Horiseon' Header text*/
footer h2 {
    font-size: 20px;
}

/*Meeting photo size and position*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Search Engine and Social Media Marketing images float to the left of text*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Online Reputation image floats to the right of text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Lists content inline next to each other in a column*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Padding, margins, and background color for panel which holds Benefit information*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/*text margins, color, and font family for benefits panel*/
.benefit-lead, .benefit-brand, .benefit-cost {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 32px;
    color: #ffffff;
}

/*Title for each benefit margin and centered text*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Positioning for Images in Benefit Panel*/
.benefit-lead img, .benefit-brand img, .benefit-cost img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Size for panels which hold Content information*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Size for images within Content Panel*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Font size and Margins for each Content Panel*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2{
    margin-bottom: 20px;
    font-size: 36px;
}

